/* Table Styles */
table {
    width: 100%;
}

td, th {
    border: 1px solid #242424;
    text-align: left;
    
}
th {
    padding-left: 5px;
    background-color: #3862af;
    color: #ffffff;
}

tr {
    background-color: #f7f7f7;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
